################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Inventaire/.vs/Inventaire/v16
/Inventaire/Inventaire/MDK
/Inventaire/Inventaire/obj/x64/Debug
/Inventaire/Inventaire/Instructions.readme
